/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    overflow: scroll;

}

body {
    margin-left: 15em;
    width: 1100px;
}

.my-navbar li {
    padding-right: 2em;
    display: inline;
    font-size: 14pt;
}

a {
    color: #3f5f5f;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #3f5f5f;
}

.right {
    float: right;
}

.byline {
    border: 2px solid grey;
    width: 20em;
    height:5.1em;
    text-align: left;
    color: grey;
    clear: both;
}

.bylinephoto {
    float: left;
    padding-right: 20px;
}

.footer-column {
    width: 28%;
    /* display: inline; */
    float: left;
    color: white;
    background-color: #3f5f5f;
    border: solid #3f5f5f 1.3em;
}

.site-logo {
    display: none;
}

.region-main {
    margin: 6em;
}

.region-header-col-1 {
    display: none;
}

.outer-wrap-breadcrumb {
    display: none;
}

.site-footer {
    text-align: center;
}
